<div class="container sm-color-1 mt-5 mb-5">
    <nav class="navbar mb-5">
        <ul>
            <li><a class="nav-link " routerLink="/products">Inicio</a></li>
            <li><span class="separatorRoute"></span></li>
            <li><span class="font-italic nameProduct">Producto</span></li>
            
        </ul>
    </nav>
    <div class="row min-vh-100">
        <div class="col-md-6 col-12">
            <div class="row">
                <div class="col-md-9 col-12"><img id="imgPrincipal" class="w-100" src="{{productDetail.picture}}"></div>
                <div class="col-md-3 col-12">
                    <div class="row">
                        <div *ngFor="let picture of productDetail.pictures ; let i = index" class="col-md-12 col-4 mb-2 detailImage">
                            <img class="w-100" [ngClass]="{'_shadow' : selectedImage === i}" src="{{picture}}" (click)="loadImage('',1)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 descriptionProduct">
            <div class="row">
                <div class="col-12">
                    <p class="font-weight-bold sm-size-md">DESCRIPCION</p>
                    <p class="sm-color-black">{{productDetail.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="sm-color-black priceProductDetail">{{productDetail.price}} €</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-outline-success">AÑADIR A LA CESTA</button>
                </div>
            </div>
        </div>
    </div>
</div>