<div class="container _container sm-color-1">
    <div class="row">
        <div class="col-md-8 col-12 mt-2 d-flex align-items-end flex-column">
            <div class="col-md-7 col-12">
                <p class="text-left font-weight-bold">Ordenar por:</p>
                <select class="custom-select custom-select-sm sm-color-1 mb-2" id="orderProducts">
                    <option value="name-asc" selected (click)="console.log('123123123')">NOMBRE (ASCENDENTE)</option>
                    <option value="name-desc" (click)="console.log('123123123')">NOMBRE (DESCENDENTE)</option>
                    <option value="price-low" (click)="console.log('123123123')">PRECIO (MÁS BAJOS PRIMERO)</option>
                    <option value="price-high" (click)="console.log('123123123')">PRECIO (MÁS ALTOS PRIMERO)</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-5">
            <p class="text-right font-weight-bold"> productos encontrados</p>
        </div>
    </div>
    <div class="row product">
        <div class="col-md-3 col-12">
            <div class="row">
                <div class="col-12 mt-2 filtersConfiguration">
                    <nav class="navbar navbar-light">
                        <div class="w-100 filterOption" data-toggle="collapse" data-target="#listTypeProducts" aria-controls="listTypeProducts" aria-expanded="false" aria-label="Type Products">
                            <p class="text-left font-weight-bold float-left mb-1">Filtrar por tipo</p>
                            <img class="plusFilter float-right" src="../../assets/plus.png">
                        </div>
                        <div class="collapse navbar-collapse" id="listTypeProducts">
                            <ul>
                                <li><input type="checkbox" checked><span class="listItems">Peluches</span></li>
                                <li><input type="checkbox" checked><span class="listItems">Láminas</span></li>
                                <li><input type="checkbox" checked><span class="listItems">Llaveros</span></li>
                                <li><input type="checkbox" checked><span class="listItems">Otros</span></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-12 mt-2 filtersConfiguration">
                    <nav class="navbar navbar-light">
                        <div class="w-100 filterOption" data-toggle="collapse" data-target="#listArtistsProducts" aria-controls="listArtistsProducts" aria-expanded="false" aria-label="Artists Products">
                            <p class="text-left font-weight-bold float-left mb-1">Filtrar por Artista</p>
                            <img class="plusFilter float-right" src="../../assets/plus.png">
                        </div>
                        <div class="collapse navbar-collapse" id="listArtistsProducts">
                            <ul>
                                <li><input type="checkbox" checked><span class="listItems">LidiaStars</span></li>
                                <li><input type="checkbox" checked><span class="listItems">Neeims</span></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-12">
            <div class="row">
                <div *ngFor="let product of productsList" class="col-md-4 col-12 mt-1 mb-1">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/{{product.payload.doc.data().picture}}"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>{{product.payload.doc.data().name}}</p></a>
                                <div class="price">{{product.payload.doc.data().price}} €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 2</p></a>
                                <div class="price">25.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 3</p></a>
                                <div class="price">35.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 1</p></a>
                                <div class="price">15.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 2</p></a>
                                <div class="price">25.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 3</p></a>
                                <div class="price">35.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 1</p></a>
                                <div class="price">15.40 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 2</p></a>
                                <div class="price">25.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 3</p></a>
                                <div class="price">35.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 1</p></a>
                                <div class="price">15.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 2</p></a>
                                <div class="price">25.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail"><p>Producto 3</p></a>
                                <div class="price">35.50 €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
-->
