<div class="container _container sm-color-1">
    <div class="row">
        <div class="col-md-8 col-12 mt-2 d-flex align-items-end flex-column">
            <div class="col-md-7 col-12">
                <p class="text-left font-weight-bold">Ordenar por:</p>
                <select class="custom-select custom-select-sm sm-color-1 mb-2" id="orderProducts" (change)="orderProducts($event.target.value)">
                    <option value="name-asc">NOMBRE (ASCENDENTE)</option>
                    <option value="name-desc">NOMBRE (DESCENDENTE)</option>
                    <option value="price-low">PRECIO (MÁS BAJOS PRIMERO)</option>
                    <option value="price-high">PRECIO (MÁS ALTOS PRIMERO)</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-5">
            <p class="text-right font-weight-bold">{{countProducts}} productos encontrados</p>
        </div>
    </div>
    <div class="row product">
        <div class="col-md-3 col-12">
            <div class="row">
                <div class="col-12 mt-2 filtersConfiguration">
                    <nav class="navbar navbar-light">
                        <div class="w-100 filterOption" data-toggle="collapse" data-target="#listTypeProducts" aria-controls="listTypeProducts" aria-expanded="false" aria-label="Type Products">
                            <p class="text-left font-weight-bold float-left mb-1">Filtrar por tipo</p>
                            <img class="plusFilter float-right" src="../../assets/plus.png">
                        </div>
                        <div class="collapse navbar-collapse" id="listTypeProducts">
                            <ul>
                                <li><input type="checkbox" [value]="peluche" id="peluche"><span class="listItems">Peluches</span></li>
                                <li><input type="checkbox" [value]="lamina" id="lamina"><span class="listItems">Láminas</span></li>
                                <li><input type="checkbox" [value]="llavero" id="llavero"><span class="listItems">Llaveros</span></li>
                                <li><input type="checkbox" [value]="otros" id="otros"><span class="listItems">Otros</span></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-12 mt-2 filtersConfiguration">
                    <nav class="navbar navbar-light">
                        <div class="w-100 filterOption" data-toggle="collapse" data-target="#listArtistsProducts" aria-controls="listArtistsProducts" aria-expanded="false" aria-label="Artists Products">
                            <p class="text-left font-weight-bold float-left mb-1">Filtrar por Artista</p>
                            <img class="plusFilter float-right" src="../../assets/plus.png">
                        </div>
                        <div class="collapse navbar-collapse" id="listArtistsProducts">
                            <ul>
                                <li><input type="checkbox" [value]="lidiastars" id="lidiastars"><span class="listItems">LidiaStars</span></li>
                                <li><input type="checkbox" [value]="neims" id="neims"><span class="listItems">Neeims</span></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-12">
            <div class="row">
                <div *ngFor="let product of listProducts" class="col-md-4 col-12 mt-1 mb-1">
                    <div class="row">
                        <div class="col-12">
                            <a routerLink="/product-detail/{{product.name}}"><img src="{{product.picture}}"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <a routerLink="/product-detail/{{product.name}}"><p>{{product.name}}</p></a>
                                <div class="price">{{product.price}} €</div>
                                <div class="cart">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="shoppingCart">
                                            <img src="../../assets/shopping_cart.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
