<div class="sm-container sm-wh-color">
  <div class="sm-title row">
      <div class="col-12"><p class="sm-title-text text-center sm-title-text-1 sm-font-ha">Sunshine</p></div>
      <div class="col-12"><p class="sm-title-text text-center sm-title-text-2 sm-font-gv">&</p></div>
      <div class="col-12"><p class="sm-title-text text-center sm-title-text-1 sm-font-ha">Moonlight</p></div>
      <div class="col-12"><p class="sm-title-text text-center sm-title-text-2 sm-font-gv">Virtual Shop</p></div>
  </div>
  <div>
    <app-products></app-products>
  </div>
</div>
<div class="sm-bg-color sm-wh-color">
  <app-footer></app-footer>
</div>