.sm-title{
    width: 100%;
    background-color: #d99cec;
    background-image: url('./../assets/rainbow.png');
    background-repeat: no-repeat;
    background-position: top;
}

.sm-title-text{
    width: 100%;
}

.sm-title-text-1{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 5.5rem;
}
.sm-title-text-2{
    font-size: 3.5rem;
}
nav{
    font-size: 1.5rem!important;
}