._container{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
input {
    cursor: pointer;
}

.delFilters{
    cursor: pointer;
    margin-bottom: 0;
}
.row ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.imgProduct{
    height: 15rem;
}
.row li{
    margin-right: 5px;
}

.row img{
    width: 100%;
}
a {
    color: #aa24d3;
    text-decoration: none;
}
.cart{
    float: right;
}
.price{
    float: left;
}

.product{
    margin-top: 0.75rem;
}
.shoppingCart{
    opacity: 0.5;
}
.shoppingCart:hover{
    opacity: 1;
}
.listItems:hover{
    cursor: pointer;
}
.listItems::before{
    content:" ";
}
.row ul{
    display: block;
}

.plusFilter{
    width: auto!important;
    height: 20px;
    opacity: 0.75;
}

.filterOption{
    cursor: pointer;
}

.filtersConfiguration{
    padding: 0;
}

.custom-control-label:before{
    background-color:white;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#aa24d3;
}

@media (max-width: 425px){
    .row li{
        display: block;
    }
}