<div class="container sm-container">
    <div class="row">
        <div class="col-8">
            <ul>
                <li><input type="checkbox" checked><span> Peluches</span></li>
                <li><input type="checkbox" checked><span> Láminas</span></li>
                <li><input type="checkbox" checked><span> Otros</span></li>
            </ul>
        </div>
        <div class="col-4">
            <p class="text-right"> productos encontrados</p>
        </div>
    </div>
    <div class="row sm-product">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 1</p></a>
                        <div class="sm-price">15.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 2</p></a>
                        <div class="sm-price">25.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 3</p></a>
                        <div class="sm-price">35.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row sm-product">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 1</p></a>
                        <div class="sm-price">15.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 2</p></a>
                        <div class="sm-price">25.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 3</p></a>
                        <div class="sm-price">35.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row sm-product">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 1</p></a>
                        <div class="sm-price">15.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 2</p></a>
                        <div class="sm-price">25.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 3</p></a>
                        <div class="sm-price">35.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row sm-product">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 1</p></a>
                        <div class="sm-price">15.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 2</p></a>
                        <div class="sm-price">25.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sm-details">
                        <a href="#"><p>Producto 3</p></a>
                        <div class="sm-price">35.50 €</div>
                        <div class="sm-cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
