._container{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.row ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.row li{
    margin-right: 5px;
}

.row img{
    width: 100%;
}
a {
    color: #d99cec;
}
a:hover{
    text-decoration: none;
    color: #93CBEF;
}
.cart{
    float: right;
}
.price{
    float: left;
}

.product{
    margin-top: 0.75rem;
}
.shoppingCart{
    opacity: 0.5;
}
.shoppingCart:hover{
    opacity: 1;
}
.listItems::before{
    content:" ";
}

@media (max-width: 425px){
    .row li{
        display: block;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .row ul{
        display: block;
    }
}