<div class="container _container">
    <div class="row">
        <div class="col-8">
            <ul>
                <li><input type="checkbox" checked><span class="listItems">Peluches</span></li>
                <li><input type="checkbox" checked><span class="listItems">Láminas</span></li>
                <li><input type="checkbox" checked><span class="listItems">Otros</span></li>
            </ul>
        </div>
        <div class="col-4">
            <p class="text-right"> productos encontrados</p>
        </div>
    </div>
    <div class="row product">
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 1</p></a>
                        <div class="price">15.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 2</p></a>
                        <div class="price">25.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 3</p></a>
                        <div class="price">35.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 1</p></a>
                        <div class="price">15.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 2</p></a>
                        <div class="price">25.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 3</p></a>
                        <div class="price">35.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 1</p></a>
                        <div class="price">15.40 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 2</p></a>
                        <div class="price">25.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 3</p></a>
                        <div class="price">35.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-3U8AAJ1c8.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 1</p></a>
                        <div class="price">15.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-5UUAE1Cn6.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 2</p></a>
                        <div class="price">25.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-12">
                    <a href="#"><img src="../../assets/EMxBM-6UwAAbPry.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <a href="#"><p>Producto 3</p></a>
                        <div class="price">35.50 €</div>
                        <div class="cart">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="shoppingCart">
                                    <img src="../../assets/shopping_cart.svg">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
