.sm-container{
    color: #d99cec;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.row ul{
    list-style: none;
}
.row li{
    display: inline;
    margin-right: 5px;
}

.row img{
    width: 100%;
}
a {
    color: #d99cec;
}
a:hover{
    text-decoration: none;
    color: #93CBEF;
}
.sm-cart{
    float: right;
}
.sm-price{
    float: left;
}

.col-4{
    margin-top: 0.75rem;
}
.glyphicon-shopping-cart{
    opacity: 0.5;
}
.glyphicon-shopping-cart:hover{
    opacity: 1;
}