<div>
    <div class="container">
        <div class="row sm-font-normal sm-size-md">
            <div class="col-md-8 col-sm-12 mt-3">
                <p class="text-md-left text-center">Medios de Pago</p>
                <div class="text-md-left text-center">
                    <ul class="paymethod">
                        <li><img src="../../../assets/visaIcon.png"></li>
                        <li><img src="../../../assets/MastercardIcon.png"></li>
                        <li><img src="../../../assets/paypalIcon.png"></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-3">
                <p class="text-md-left text-center">Newsletter</p>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="privacity">
                    <input type="checkbox">
                    <span> Acepto la <a href="#">política de privacidad</a></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 mt-3">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                        <p class="sm-font-normal sm-size-md text-md-left text-center">AYUDA</p>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Contacto</a></div>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Opciones de entrega y costes</a></div>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Métodos de pago</a></div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                        <p class="sm-font-normal sm-size-md text-md-left text-center">SERVICIOS</p>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Precio mínimo garantizado</a></div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                        <p class="sm-font-normal sm-size-md text-md-left text-center">CONOCENOS</p>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Historia</a></div>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Sistema de producción</a></div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                        <p class="sm-font-normal sm-size-md text-md-left text-center">OTROS</p>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Condiciones de compra</a></div>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Política de privacidad</a></div>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Política de cookies</a></div>
                        <div class="col-12 links sm-size-xs text-md-left text-center"><a href="#">Eventos</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-3">
                <div class="row">
                    <div class="col-12">
                        <p class="sm-font-normal sm-size-md text-md-left text-center">Síguenos</p>
                    </div>
                </div>
                <div class="row sm-font-1 sm-size-lg">
                    <div class="col-md-6 col-sm-12">
                        <p class="text-md-left text-center">LidiaStars</p>
                        <div class="text-md-left text-center">
                            <ul class="social">
                                <li><a href="https://twitter.com/LidiaStars" target="blank" rel="nofollow"><img src="../../../assets/twitter-logo.png"></a></li>
                                <li><a href="https://www.instagram.com/lidiastars" target="blank" rel="nofollow"><img src="../../../assets/instagram-logo.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p class="text-md-left text-center">Neeeims</p>
                        <div class="text-md-left text-center">
                            <ul class="social">
                                <li class=""><a href="https://twitter.com/Neeeims" target="blank" rel="nofollow"><img src="../../../assets/twitter-logo.png"></a></li>
                                <li class=""><a href="https://www.instagram.com/neeeims" target="blank" rel="nofollow"><img src="../../../assets/instagram-logo.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row sm-font-normal sm-bg-color-2">
    <div class="col-12">
        <p class="text-center footerCopyright"><span class="copyright">2020</span><span>Sunshine & Moonlight Virtual Shop</span></p>
    </div>
</div>
