/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Cookie');

* {
    margin: 0;
    padding: 0;
}
.sm-title{
    background-color: #d99cec;
    background-image: url('../src/assets/rainbow.png');
    background-repeat: no-repeat;
    background-position: top;
}
.sm-font-1{
    font-family: 'Great Vibes', cursive;
}
.sm-font-2{
    font-family: 'Homemade Apple', cursive;
}
.sm-font-3{
    font-family: 'Cookie', cursive;
}
.sm-font-normal{
    font-family: "Nunito Sans",Arvo,"Open Sans",sans-serif;
}
.sm-bg-color-1{
    background-color: #d99cec;
}
.sm-bg-color-2{
    background-color: #E2B4F0;
}
.sm-color-white{
    color: white;
}
.sm-color-1{
    color: #d99cec;
}
.sm-size-md{
    font-size: 1.25rem;
}
.sm-size-lg{
    font-size: 2rem;
}
.sm-size-xs{
    font-size: 0.85rem;
}
.sm-title-text-1{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 5.5rem;
}
.sm-title-text-2{
    font-size: 3.5rem;
}

@media (max-width: 1024px) {
    .sm-title-text-1{
        font-size: 3.5rem;
    }
    .sm-title-text-2{
        font-size: 1.5rem;
    } 
}
@media (max-width: 425px) {
    .sm-title-text-1{
        font-size: 2.5rem;
    }
    .sm-title-text-2{
        font-size: 1.5rem;
    } 
}